body {
    background-color: #343232;
    color: white;
}

.navbarcontainer {
    background-color: #02518a;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

    li a {
        display: block;
        padding: 10px 10px;
        color: white;
        text-shadow: 2px 2px #000000;
        text-align: center;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #770009;
        }

.login {
    float: right;
}

.active {
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #000000;
}

h4 {
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-style: italic;
}

.formcontainer {
    margin: auto;
    width: 150px;
}

.searchform {
    border-style: outset;
    border-color: gray;
    border-width: medium;
    width: 150px;
    padding: 15px;
    text-align: center;
}
.characterinfocontainer {
    padding: 25px;
    color: white;
    text-shadow: 1px 1px #000000;
}

.tab {
    overflow: hidden;
    border-style: ridge;
    border-color: gray;
    border-width: medium;
    width: 75%;
    background-color: #02518a;
    margin: auto;
}

.tab button{
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-right: 1px solid grey;
}

    .tab button:hover {
        background-color: #770009;
    }

#Character {
    border-style: ridge;
    border-color: gray;
    width: 75%;
    margin: auto;
    background-color: #02518a;
    overflow: hidden;
}
table {
    width: 100%;
}

table, th, td {
    border: 2px inset gray;
    border-collapse: collapse;
    background-color: #770009;
    text-align: center;
    color: white;
    text-shadow: 1px 1px #000000;
}
caption, th, td {
    padding: 2px;
}
.geartablecontainer{
float: left;
width: 33%;
padding: 15px;
}
.talenttablecontainer {
    float: left;
    width: 33%;
    padding: 15px;
}
.conduitchoice {
    float: left;
    text-align: center;
}

.characterrendercontainer{
    margin: 15px;
    width: 33%;
    padding: 15px;
}
